{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-12 col-lg-6 mx-auto">
        <h1>Nuevo autor</h1>

        <form method="POST">
            {% csrf_token %}

            <p>
                <label for="nombre">Apellido y nombres:</label><br>
                <input type="text" class="form-control" id="nombre" name="nombre" maxlength="30" value="{{ autor.nombre }}" required>
            </p>

            <p>
                <label for="nacionalidad">Nacionalidad:</label><br>
                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" value="{{ autor.nacionalidad }}" maxlength="30">
            </p>

            <p>
                <label for="fecNacimiento">Fecha de nacimiento:</label><br>
                <input type="date" class="form-control" id="fecNacimiento" name="fecNacimiento" value="{{ autor.fecNacimiento|date:'Y-m-d' }}">
            </p>

            <p>
                <label for="fecDefuncion">Fecha de defunción:</label><br>
                <input type="date" class="form-control" id="fecDefuncion" name="fecDefuncion" value="{{ autor.fecDefuncion|date:'Y-m-d' }}">
            </p>

            <p>
                <label for="comentarios">Comentarios:</label><br>
                <textarea id="comentarios" class="form-control" name="comentarios" rows="4">{{ autor.comentarios }}</textarea>
            </p>

            <p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="activo" {% if autor.activo %}checked{% endif %}>
                    <label class="form-check-label">Activo</label>
                </div>
            </p>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}