{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-12 col-lg-6 mx-auto">
        <h1>Nuevo autor (usando forms.py)</h1>

        <form method="POST">
            {% csrf_token %}

<!--            {{ form.as_p }}-->

            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                      <p class="help" id="{{ field.auto_id }}_helptext">
                        {{ field.help_text|safe }}
                      </p>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
        </form>

        </div>
    </div>
</div>
{% endblock %}