{% extends "base.html" %}

{% block content %}
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <!-- BARRA LATERAL -->
        <aside>
            <h2>Aside</h2>

            <div class="row">
                <form method="GET" class="busqueda">
                    <input type="text"
                           class="form-control"
                           name="q"
                           placeholder="Buscar autor..."
                           value="{{ request.GET.q }}"
                    >
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>

            <br>

            <ul>
                <li>
                    <a href="{% url 'autoragregar' %}" class="boton">
                        Nuevo Autor
                    </a>
                    <a href="{% url 'autoragregarclase' %}" class="boton">
                        Nuevo Autor (Clase)
                    </a>
                </li>
                <br>
                <li>Menú secundario</li>
                <li>Publicidad</li>
                <li>Enlaces</li>
                <li>Información extra</li>
            </ul>
        </aside>

        <!-- CONTENIDO CENTRAL -->
        <div class="contenido">
            <section>
                <h2>Autores</h2>
                <p>
                    Estos son los autores más importantes.
                </p>

                {% for a in autores %}
                    <article>
                        <div class="encabezado">
                            <h3>{{ a.nombre }}</h3>
                            <a href="{% url 'autormodificar' a.id %}" class="boton">Modificar</a>
                            <a href="{% url 'autormodificarclase' a.id %}" class="boton">Modificar (Clase)</a>
                            <a href="{% url 'autorborrar' a.id %}" class="boton">Borrar</a>
                            <a href="{% url 'autorborrarclase' a.id %}" class="boton">Borrar (Clase)</a>
                        </div>
                        <p>{{ a.fecNacimiento }} - {{ a.fecDefuncion }}</p>
                        <br>
                        <p>{{ a.comentarios }}</p>
                    </article>

                {% endfor %}

            </section>
        </div>
    </main>

{% endblock %}