{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <h2 class="titulo pb-3">{{ libro.titulo }}</h2>
        <p><strong>autor(es):</strong>
            {% for a in libro.autor.all %}
                {{ a.nombre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>editorial:</strong> {{ libro.editorial }}</p>
        <p><strong>año publicación:</strong> {{ libro.anioPub }}</p>
        <p><strong>comentarios:</strong> {{ libro.comentarios }}</p>
        <a class="btn btn-primary mt-3" href="{% url 'libroslista' %}">Volver a la lista</a>
    </div>
{% endblock %}