{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-12 col-lg-6 mx-auto">
        <h1>Nuevo Libro</h1>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <h3>Autores</h3>

            {{ formset.management_form }}

<!--            {% for f in formset %}-->
<!--                {{ f.as_p }}-->
<!--            {% endfor %}-->

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for form in formset %}

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <tr>
                            <td>{{ form.autor }}</td>
                            <td>{{ form.DELETE }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
            <a class="btn btn-primary" href="{% url "libroslista" %}">Cancelar</a>
        </form>

        </div>
    </div>
</div>
{% endblock %}